h1 {
  color: rgb(0, 0, 0);
  text-align: left;
  margin: auto;
  font-size: 16;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: left;
  margin: auto;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: left;
  margin: auto;
}

.batteryInfo {
  display: flex;
}

.batteryInfo_text {
  flex-basis: 160px;
  margin: 5px;
}

.batteryInfo_value {
  flex-basis: 100px;
  margin: 5px;
}

.column_settings {
  float: inline-start;
  width: 170px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: left;
}

.row_settings:after {
  display: table;
  clear: both;
  border: 1px solid #ccc;
}

.column_function {
  float: left;
  padding: 2px;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 200px;
}

.row_function:after {
  content: "";
  display: table;
  clear: both;
  border: 1px solid #ccc;
}

/* Style the tab */
.tab {
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

button {
  background-color: #ccc;
  float: left;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  transition: 0.3s;
  font-size: 14px;
}

.grid-container {
  display: grid;
  gap: 10px;
  padding: 5px;
}

.grid-item {
  text-align: left;
  font-size: 16px;
}

.item1 {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2 /span 1;
  grid-row: 1;
}

.item3 {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.item4 {
  grid-column: 2 / span 1;
  grid-row: 2;
}

.item5 {
  grid-column: 1 / span 2;
  grid-row: 3;
}